[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
pillow = "*"
autopep8 = "*"
psycopg2 = "*"
nltk = "*"
pypdf = "*"
"pdfminer.six" = "*"
pandas = "*"
pymemcache = "*"
requests = "*"
redis = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
